.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header .left {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.header .right {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
}

.header .right span:first-child {
    font-weight: 600;
}

.header .role {
    background-color: #f0f0f0;
    padding: 2px 8px;
    border-radius: 8px;
    color: #888;
    font-size: 12px;
}


/* Responsive cho điện thoại */
@media (max-width: 768px) {
    .header .left {
        margin-left: 10px;
        /* Thay đổi giá trị tùy theo bạn muốn */
    }

    .header .right {
        flex-wrap: wrap;
        align-items: center;
        gap: 0;
        /* SÁT nhau */
    }

    .header .right>* {
        margin: 0;
        /* Loại bỏ margin nếu có */
    }
}